<section class="container">

    <div class="card" *ngIf="enterCardArea">
        <div class="card-header">
            <h2>Add a Card</h2>
        </div>


        <form [formGroup]="cardForm"  name="cardForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group ">
                <div class="input-group-prepend">
                    <span class=" input-group-text">
                         <i class="fa fa-user"></i>
                         </span>
                </div>

                <input formControlName="name" name="name" type="text" class="form-control" id="name" placeholder="Full Name"  required  
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required"> Name on the card is required</div>
                </div>
            </div>
           
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-credit-card"></i>
                    </span>
                </div>
                
                <input formControlName="cardNumber" name="cardNumber" type="text" class="form-control" id="cardNumber" placeholder="0000 0000 0000 0000" required  
                [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }" />
                <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.cardNumber.errors.required">Card Number  is required</div>
                    <div *ngIf="f.cardNumber.errors.pattern">Enter a valid 16 digit card number</div>

                </div>
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                
                <input formControlName="expiryDate" name="expiryDate" type="text" class="form-control" id="expiryDate" placeholder="mm/yyyy" required  
                [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }" />
                <div *ngIf="submitted && f.expiryDate.errors" class="invalid-feedback">
                    <div *ngIf="f.expiryDate.errors.required">Expiry Date  is required</div>
                    <div *ngIf="f.expiryDate.errors.pattern">Expiry a valid expiry date</div>

                </div>
            </div> 
            <div class="form-group">
                <button class="btn btn-primary">
                    Add Card
                </button>
            </div>
        </form>


    </div>
    <div *ngIf="cardList?.length>0 && !enterCardArea" >
        <button (click)="toggleCard()" type="button" routerLink="/home/card" class="btn btn-outline-primary">Add New Card</button>
        <div class="card "  *ngFor="let detail of cardList;let i=index" >
            <div class="card-body">
              <h5 class="card-title">Card {{i+1}}</h5>
              <p class="card-text">Name on the Card: {{detail.name}}</p>
              <p class="card-text">Card Number{{detail.cardNumber}}</p>
             
              <div>
                <button type="button" class="btn btn-danger btn-md" (click)="deleteCard(i)">Delete</button>

              </div>
            </div>
          </div>
    </div>


</section>