<section class="container">

    <div class="card" *ngIf="enterAddressArea">
        <div class="card-header">
            <h2>Add an Address</h2>
        </div>


        <form [formGroup]="addressForm"  name="addressForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group ">
                <div class="input-group-prepend">
                    <span class=" input-group-text">
                         <i class="fa fa-user"></i>
                         </span>
                </div>

                <input formControlName="name" name="name" type="text" class="form-control" id="name" placeholder="Full Name"  required  
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Full Name is required</div>
                </div>
            </div>
           
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-home"></i> </span>
                </div>
                
                <input formControlName="address" name="address" type="text" class="form-control" id="address" placeholder="Address" required  
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address  is required</div>
                </div>
            </div> 
            <div class="form-group">
                <button class="btn btn-primary">
                    Add Address
                </button>
            </div>
        </form>


    </div>
    <div *ngIf="addressList?.length>0 && !enterAddressArea" >
        <button (click)="toggleAddress()" type="button" routerLink="/home/address" class="btn btn-outline-primary">Add New Address</button>
        <div class="card addressCard"  *ngFor="let detail of addressList;let i=index" >
            <div class="card-body">
              <h5 class="card-title">Address {{i+1}}</h5>
              <p class="card-text">{{detail.name}}</p>
              <p class="card-text">{{detail.address}}</p>
              <div>
                <button type="button" class="btn btn-outline-primary btn-md" (click)="editAddress(i)">Edit</button>
              </div>
              <div>
                <button type="button" class="btn btn-danger btn-md" (click)="deleteAddress(i)">Delete</button>

              </div>
            </div>
          </div>
    </div>


</section>