<div class="container">
    <div class="card">
        <h5 *ngIf="!singleOrder">Hello {{currentUser.fullname}}, There are no current orders</h5>

        <h5 *ngIf="singleOrder">Hello {{currentUser.fullname}}, Your Food will be delivered within 30 minutes</h5>
    <div *ngIf="singleOrder">
        <hr>
        <h5 >Item: {{dishName | titlecase}}</h5> 
         <p>Restaurant: {{restaurant | titlecase}}</p>
        <p >Description: {{description | titlecase}}</p>
        <hr>
    </div>
      <div *ngIf="secondOrder">
        <h5 >Item: {{dishName2 | titlecase}}</h5>
        <p >Restaurant: {{restaurant2 | titlecase}}</p>
        <p >Description: {{description2 | titlecase}}</p>
        <hr>
      </div>

       <div *ngIf="thirdOrder">
        <h5 >Item: {{dishName3 | titlecase}}</h5>
        <p >Restaurant: {{restaurant3 | titlecase}}</p>
        <p >Description: {{description3 | titlecase}}</p>
        <hr>
       </div>
    </div>
</div>
